USE [Wopzi]
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORTE_IPRMONTOSPERIODO]    Script Date: 05/12/2025 01:07:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[SP_REPORTE_IPRMONTOSPERIODO]
    @Id_Modulo BIGINT,
	@Id_Usuario		BIGINT,
	@Id_TipoSucursal INT,
    @Id_Canje INT
AS
BEGIN
    SET NOCOUNT ON; 
   
	SELECT
		S.Id_Sucursal,
		CE.ClaveCuenta,
		CE.NombreCuenta,
		ISNULL(S.Id_Sucursal, 0) AS Id_Sucursal,
		ISNULL(S.Nombre, '') AS Nombre,
		TM.TipoMonto,
		M.FechaCarga,
		M.Monto,
		M.Saldo
	FROM SYS_IPR_Montos AS M
	INNER JOIN CAT_IPR_TiposMontos AS TM  
		ON M.Id_TipoMonto = TM.Id_TipoMonto
	INNER JOIN OC_CuentasEmpresa as CE
		ON M.Id_Cuenta = CE.Id_Cuenta
	LEFT JOIN SYS_Sucursales AS S  
		ON M.Id_Sucursal = S.Id_Sucursal
	INNER JOIN SYS_Lealtad_Canjes AS LC  
		ON LC.Id_Canje = M.Id_Canje
	INNER JOIN SYS_Empresas AS SE  
		ON SE.Id_Empresa = M.Id_Empresa

	LEFT JOIN SYS_SucursalesUsuarios AS SU
		ON S.Id_Sucursal = SU.Id_Sucursal
		AND SU.Id_Usuario = @Id_Usuario  

	WHERE 
		SE.TipoAdministrado = @Id_TipoSucursal
		AND M.Id_Canje = @Id_Canje
    
  
		AND (
       
			ISNULL(S.Id_Sucursal, 0) = 0
			OR
        
			SU.Id_Usuario IS NOT NULL
		)
    
	ORDER BY CE.ClaveCuenta, M.FechaCarga;




	EXEC SP_CONSULTA_ESTRUCTURAREPORTES @Id_Modulo

END

